.blog-detail {
  font-family: 'Lora', serif;
  letter-spacing: 0.4px;
  h1 {
    font-size: 3rem;
    line-height: 3.8rem;
    margin-bottom: 1rem;
  }
  .sub {
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 1rem;
  }
  .socials {
    color: #757575;
    margin-bottom: 1rem;
    a {
      font-size: 1.6rem;
      margin-right: 0.8rem;
    }
  }
  .blog-body {
    font-size: 1.25rem;
    line-height: 2rem;
    img {
      margin: 0 auto;
      display: block;
      max-width: 100%;
    }
    p > code {
      color: #545454;
      background: #f2f2f2;
      padding: 2px 4px;
      border-radius: 3px;
    }
    pre code {
      padding: 1rem;
      border-radius: 5px;
    }
    blockquote {
      font-style: italic;
      box-shadow: rgb(41 41 41) 3px 0px 0px 0px inset;
      padding-left: 1.5rem;
      margin-left: 0;
    }
    hr {
      width: 20%;
      margin: 4rem auto;
      border: 1px dashed #ccc;
    }
    h2,
    h3,
    h4 {
      line-height: 2.5rem;
      margin-top: 1rem;
    }
  }
}
