@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #0a192f;
  --secondary: #26f5dc;
}
html {
  background-color: #fff;
}
a {
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
}
.hover-effect {
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
}
.hover-effect:hover {
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
  transform: scale(1.2);
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
.fadeInUp {
  animation-name: fadeInUp;
}
