.quote-section {
  display: flex;
  flex-wrap: wrap;
  > * {
    flex-basis: 45%;
    text-align: right;
    &:first-child {
      flex-basis: 55%;
    }
  }

  @media (max-width: 768px) {
    > * {
      flex-basis: 100% !important;
    }
  }
}
