.btnPrimary {
  color: var(--primary);
  border: 1px solid var(--primary);
}
.btnSecondary {
  color: var(--secondary);
  border: 1px solid var(--secondary);
}
.btnHoverEffect {
  display: inline-block;
  transition: all 0.3s cubic-bezier(0, 0, 0.5, 1);
  outline: none;
}
.primaryShadowOnHover:hover {
  box-shadow: 4px 4px 0 0 var(--primary);
  transform: translate(-5px, -5px);
}
.secondaryShadowOnHover:hover {
  box-shadow: 4px 4px 0 0 var(--secondary);
  transform: translate(-5px, -5px);
}
