@keyframes leftAnim {
  0% {
    transform: translateX(-5rem) rotate(-20deg);
  }
  50% {
    transform: translateX(-5rem) rotate(-15deg);
  }
  100% {
    transform: translateX(-5rem) rotate(-20deg);
  }
}
@keyframes rightAnim {
  0% {
    transform: translateX(5rem) scale(0.75) rotate(20deg);
  }
  50% {
    transform: translateX(5rem) scale(0.75) rotate(15deg);
  }
  100% {
    transform: translateX(5rem) scale(0.75) rotate(20deg);
  }
}
.left {
  transform: translateX(-5rem) rotate(-20deg);
  /* animation-name: leftAnim;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
.right {
  transform: translateX(5rem) scale(0.75) rotate(20deg);
  /* animation-name: rightAnim;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; */
}
